body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(135deg, #0f2027, #2c5364, #56c1c4);
}

header {
  background: linear-gradient(135deg, #56c1c4 #0f2027, #2c5364,);
  padding: 10px;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0;
  padding: 0;
}

header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header a.active {
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(135deg, #56c1c4 #0f2027, #2c5364,);
  color: white;
  text-align: center;
  padding: 10px 0;
}


main {
  padding: 20px;
  text-align: center;
  flex: 1;
}


.Notfound{
  color: red;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 20px;
  text-align: center;
}


.wysrodkowanie{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  height: 100%; 
  color: white;
}